<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
	      <id>joinway-server</id>
	      <username>admin</username>
	      <password>btdev123.</password>
		</server>
	</servers>          

  <mirrors>
<!--   	<mirror>
  		<id>bt-repository</id>
  		<mirrorOf>central</mirrorOf>
  		<name>bt repository</name>
  		<url>http://115.28.198.131:9000/repository/internal/</url>
  	</mirror> -->
  	<mirror>
  		<id>oschina</id>
  		<mirrorOf>central</mirrorOf>
  		<name>OS China</name>
  		<url>http://maven.oschina.net/content/groups/public</url>
  	</mirror>
  </mirrors>
  
  <profiles>
    <profile>
      <id>joinway</id>
      <activation>
      	<activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
      	<repository>
      		<id>joinway-framework-release</id>
      		<name>joinway framework release</name>
      		<releases>
      			<enabled>true</enabled>
      			<updatePolicy>always</updatePolicy>
      		</releases>
      		<url>http://115.28.198.131:9000/repository/release</url>
      	</repository>
      	<repository>
      		<id>joinway-thirdparty</id>
      		<name>joinway thirdparty</name>
      		<releases>
      			<enabled>true</enabled>
      			<updatePolicy>always</updatePolicy>
      		</releases>
      		<url>http://115.28.198.131:9000/repository/ThirdParty</url>
      	</repository>
		<repository>
			<id>sonatype</id>
			<name>Sonatype</name>
			<releases>
				<enabled>true</enabled>
				<updatePolicy>always</updatePolicy>
			</releases>
			<url>http://repository.sonatype.org/content/groups/public/</url>
		</repository>
      	<repository>
      		<id>joinway-repository</id>
      		<name>joinway repository</name>
      		<releases>
      			<enabled>true</enabled>
      			<updatePolicy>always</updatePolicy>
      		</releases>
      		<url>http://115.28.198.131:9000/repository/internal/</url>
      	</repository>
      	<repository>
      		<id>joinway-framework-snapshots</id>
      		<name>joinway framework snapshots</name>
      		<snapshots>
      			<enabled>true</enabled>
      			<updatePolicy>always</updatePolicy>
      		</snapshots>
      		<url>http://115.28.198.131:9000/repository/snapshots</url>
      	</repository>
      </repositories>
    </profile>
  </profiles>
</settings>
